* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: whitesmoke;
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.count_cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.count_btn {
	display: flex;
	gap: 1rem;
}

.btn {
	background: linear-gradient(black, gray);
	padding: 0.35rem 0.75rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 4px;
	color: white;
}
